
.statistikChart {
  overflow: scroll;
  width: 100%;
  max-height: 550px;
  min-height: 250px;
}

.img-kepala .cobaSaja {
  width: 100%;
  border-radius: 100px !important;
}

/*------------------- 4.00. Hero -------------------*/
/* Hero Global ---------------------------------- */
.th-hero-wrapper {
    position: relative;
    z-index: 2;
  }
  
  
  /* Hero 1 ---------------------------------- */
  .hero-1 {
    --body-color: #fff;
    --title-color: #fff;
  }

  .th-hero-wrapper .hero-slider-1 .th-hero-slide {
    position: relative;
    width: 100vw;
    height: 768px;
  }

  .th-hero-wrapper .hero-slider-1 .th-hero-slide::before {
    z-index: 2;
    content: "";
    position: absolute;
    width: 100vw;
    height: 785px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background: linear-gradient(180deg, #010101 0%, rgba(0, 0, 0, 0) 100%);
  }

  .th-hero-wrapper .hero-slider-1 .th-hero-slide .th-hero-bg img {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
  }


  .hero-1 .blog-bg-style1 {
    /* padding: 120px 0 270px 0; */
    max-width: 610px;
    position: absolute;
    bottom: 20%;
    padding-left: 110px;
    z-index: 6;
  }

  .hero-1 .blog-bg-style1 .category{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #2e2e2e;
  }

  .hero-1 .blog-bg-style1 h3{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .hero-1 .blog-bg-style1 h3 a{
    color: #fff !important;
    letter-spacing: 1px;
    text-shadow: 1px 1px #2e2e2e;
  }
  
  .hero-1 .blog-text {
    font-size: 14px;
    max-width: 690px;
    /* margin-bottom: -0.45em; */
  }
  

  .blog-meta {
    display: flex;
  }

  .blog-meta span {
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    text-shadow: 1px 1px #2e2e2e;
  } 



  .hero-tab {
    background-color: rgba(40, 40, 40, 0.702);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px;
    border-radius: 20px;
    position: absolute;
    width: 450px;
    right: 7%;
    bottom: 0;
    overflow: scroll;
  }

  .hero-tab .container-tab{
    width: 450px;
    height: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: scroll;
  }
  
  .hero-tab-area {
    position: absolute;
    bottom: 18%;
    right: 0;
    width: 100%;
  }
  
  .hero-tab .tab-btn {
    cursor: pointer;
  }
  
  .hero-tab .indicator {
    position: absolute;
    left: var(--pos-x);
    top: -1px;
    background-color: var(--theme-color);
    height: 2px;
    width: var(--width-set);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .hero-tab .tab-btn img {
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    border: 0.5px solid #d5d5d5;
  }

  .tab-btn .tab-btn-item {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 400px;
    /* background-color: #fff; */
  }

  .hero-tab-area .hero-tab .tab-btn.active img{
    width: 200px;
    border-radius: 10px;
    border: 3px solid #d5d5d5;
    z-index: 9999;
  }

  .tab-btn .tab-btn-item .tab-btn-content .content-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #fff;
    font-size: 11px;
  }

  .tab-btn-content h6 {
    font-size: 14px;
    color: #fff;
  }
  
  /* Large devices */
  @media (max-width: 1199px) {
    .hero-1 .blog-bg-style1 {
      /* padding: 90px 0 220px 0; */
      /* max-width: 740px; */
    }
    .hero-tab .tab-btn img {
      min-height: 60px;
      object-fit: cover;
    }
  }
  
  /* Medium devices */
  @media (max-width: 1024px) {
    .hero-1 .blog-bg-style1 {
      padding: 90px 0 190px 0;
      /* max-width: 540px; */
    }
    .hero-1 .blog-text {
      font-size: 16px;
      max-width: 600px;
    }
    .hero-tab {
      gap: 12px;
      padding-top: 16px;
    }
  }
  
  /* Small devices */
  /* @media (min-width: 768px) {
    .hero-1 .blog-bg-style1 {
      padding: 90px 0 10px 0;
      max-width: 420px;
      left: 7%;
    }
  
  } */
  
  /* Extra small devices */
  @media (max-width: 991px) {
    .hero-1 .blog-bg-style1 {
      padding: 0;
      left: 10%;
      /* text-align: center; */
      justify-content: center;
    }

    .th-hero-wrapper .hero-slider-1 .th-hero-slide::before {
      display: none;
    }

    .th-hero-wrapper .hero-slider-1 .th-hero-slide {
      position: relative;
      height: 250px;
    }

    .blog-meta{
      justify-content: start;
      font-size: 12px;
      color: #fff;
      text-shadow: 1px 1px #2e2e2e;
    } 

    .hero-tab {
      display: none;
    }

    .tab-btn .tab-btn-item {
      display: none;
    }

    .hero-tab-area {
      bottom: 20px;
    }
    .hero-tab .tab-btn img {
      display: none;
    }

  }

  section.blog {
    padding-top: 90px;
  }  

  @media (max-width: 1199px) {
    section.blog {
      padding-top: 50px;
    }  
  }

  @media (max-width: 512px) {
    section.blog {
      padding-top: 20px;
    }  
  }























  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 15px;
    width: 100%;
  }
  
  @media screen and (min-width: 1380px) {
    .box-container {
      flex-direction: row;
    }
  }
  
  .box-item {
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 415px;
    margin-bottom: 35px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 175px;
    -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
  
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
  }
  
  .flip-box-header {
    font-size: 34px;
  }
  
  .flip-box p {
    font-size: 20px;
    line-height: 1.5em;
  }
  
  .flip-box-img {
    margin-top: 25px;
  }
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
  }



  /* Timelines */
  .timelines {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 100px 50px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
 }
  .timelines:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
 }
  .timelines:after {
    content: "";
    display: table;
    clear: both;
 }
  .entry {
    clear: both;
    text-align: left;
    position: relative;
 }
  .entry .title {
    margin-bottom: 0.5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
 }
  .entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid salmon;
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
 }
  .entry .title h3 {
    margin: 0;
    font-size: 120%;
 }
  .entry .title p {
    margin: 0;
    font-size: 100%;
 }
  .entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
 }
  .entry .body p {
    line-height: 1.4em;
 }
  .entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
 }
  .entry .body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
 }
  .entry .body ul li:before {
    content: "–";
    margin-right: 0.5em;
 }



 /* Weather */
.weather__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.weather__datetime{
  font-size: 13px;
  color: #fff;
}

.weather__data{
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.weather__data .weather__city{
  font-size: 13px;
}

.weather__icon {
  width: 50px;
  height: 50px;
}

.desc {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* calendar */
#calendar {
  max-width: 100%;
  margin: 0 auto;
}

.modal {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  display: block;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 600px;
  margin-left: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-content {
  padding: 1em;
}